# Nuxt dev/build outputs
.data
.nuxt
.vercel

# Node dependencies
node_modules

# Local env files
.env

# Scryfall bulk data cache
# Added pre-built Pauper cards database
# server/database/cards.db
server/database/oracle-cards.json


