@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@nuxt/ui";
@import "~/assets/css/markdown.css";
@import "~/assets/css/typography.css";

/* Your custom design tokens go here */
@theme {
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
  --breakpoint-5xl: 3840px;
  
  --font-sans: 'Public Sans', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

/* Typography plugin */
@utility prose {
  --tw-prose-body: var(--color-white);
  --tw-prose-headings: var(--color-white);
  --tw-prose-bold: var(--color-white);
  --tw-prose-quote-borders: var(--color-white);
  --tw-prose-quotes: var(--color-white);
  --tw-prose-code: var(--color-white);

  code {
    &::before,
    &::after {
      display: none;
    }
    text-wrap: nowrap;
  }

  blockquote {
    font-weight: 400;
  }
}
