@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "@nuxt/ui";

/* Typography plugin */
@utility prose {
  --tw-prose-body: var(--color-white);
  --tw-prose-headings: var(--color-white);
  --tw-prose-bold: var(--color-white);
  --tw-prose-quote-borders: var(--color-white);
  --tw-prose-quotes: var(--color-white);
  --tw-prose-code: var(--color-white);

  code {
    &::before,
    &::after {
      display: none;
    }
    text-wrap: nowrap;
  }

  blockquote {
    font-weight: 400;
  }
}
