@import "tailwindcss";
@import "@nuxt/ui";
@import "~/assets/css/markdown.css";
/* @import "~/assets/css/typography.css"; */

/* Your custom design tokens go here */
@theme {
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2560px;
  --breakpoint-5xl: 3840px;
  
  --font-sans: 'Public Sans', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}